@import './color.css';

.nav-link {
  color: var(--black); /* Cor padrão dos links */
}

.nav-link:hover {
  color: #1d1d1d; /* Cor dos links quando ativos ou ao passar o mouse */
}

.menu-dropdown {
  margin-right: 4rem;
}
