@import './color.css';

* {
  font-family: 'Poppins', sans-serif;
}

h2, h6 {
  color: var(--green);
}

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 20px;
  color: var(--dark-orange);
  font-weight: 600;
}

.value {
  font-size: 20px;
  color: var(--dblack);
  font-weight: 600;
}

.content {
  font-size: 16px;
}

.footer_items {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 24px 8%;
  align-items: center;
}

#copyright {
  color: #1d1d1d;
  font-weight: 500;
}

.social-media {
  display: flex;
  gap: 18px;
}

.social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.social-media a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .footer_items {
    flex-direction: column;
    gap: 20px;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  transform: translate3d(5px, 28px, 0px); 
  top: 0px;
  left: 0px;
  will-change: transform;
}
.dropdown {
  display: inline-block; 
  list-style: none; 
}