<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Estilos personalizados para os links */
        .nav-link {
            color: #000; /* Cor padrão dos links */
        }
        .nav-link.active,
        .nav-link:hover {
            color: #007bff; /* Cor dos links quando ativos ou ao passar o mouse */
        }
    </style>
</head>
<body>
    <div class="container mt-4 text-center">
        <h1 class="display-4">Ecommerce da Squad Mary Jackson</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/sobre' %}active{% endif %}" href="/sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/contato' %}active{% endif %}" href="/contato">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
