{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Cadastrar Produto
{% endblock %}

{% block content %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

<div class="container mt-4">
  <h2>Cadastrar Produto</h2>
</div>

<form action="" method="POST" id="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary btn-block">Cadastrar Produto</button>  
</form>
{% endblock %}

