{% extends 'base.html' %}
{% block title %}Carrinho{% endblock %}
{% block content %}

<div class="container">
    <h3 class="text-muted" style="margin-bottom: 30px; margin-top: 20px; text-align: center; font-size: 24px; font-weight: 600;"> {{produto.nome_produto}}</h3>

    <div class="row justify-content-center">
        <div class="col-md-4 mb-4 mt-2 section">
            <div class="card-body text-center border-bottom-0">
                <img src="{{ produto.imagem.url }}" class="card-img-top mx-auto d-block mb-3" alt="{{ produto.nome_produto }}" style="max-width: 200px; margin-bottom: -15px" />
                <p class="card-text d-none">{{ produto.descricao }}</p>
                {% if produto_adicionado %}
                <p class="text-success">Item adicionado ao carrinho!</p>
                {% else %}
                <form action="{% url 'carrinho' produto.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" style="text-decoration: none;">Adicionar ao carrinho</button>
                </form>
                {% endif %}
           </div>
        </div>
    </div>

{% endblock %}
