{% extends 'base.html' %}
{% block title %}Carrinho de Compras{% endblock %}
{% block content %}

<div class="container">
    <h3>Produtos no Carrinho</h3>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for carrinhoproduto in carrinhoprodutos %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Produto:</strong> {{ carrinhoproduto.produto.nome_produto }}
                            <img
                                src="{{ carrinhoproduto.produto.imagem.url }}"
                                class="card-img-top mx-auto d-block mb-3"
                                alt="{{ carrinhoproduto.produto.nome_produto }}"
                                style="max-width: 100px; margin-bottom: -15px"
                            />
                        </div>
                        <div class="col-sm-4">
                            <strong>Carrinho:</strong> {{ carrinhoproduto.carrinho.id }}
                        </div>
                        <div class="col-md-4">
                            <strong>Cliente:</strong>
                            {% if carrinhoproduto.carrinho.cliente %}
                                {{ carrinhoproduto.carrinho.cliente.nome_completo }}
                            {% else %}
                                Mary jackon
                            {% endif %}
                            <br>
                            <strong>Preço:</strong> R$ {{ carrinhoproduto.produto.preco }}
                            <br>
                            <button type="button" class="btn btn-primary btn-sm mt-sm-2">Finalizar pedido</button>
                            <form action="{% url 'deletar_item_carrinho' carrinhoproduto.id %}" method="post" class="mt-3">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                            </form>
                        </div>
                        
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
