{% extends 'base.html' %}
{% block title %}Finalizar Pedido{% endblock %}
{% block content %}

<div class="container mb-5">
    <h5 class="card-title text-muted mb-2 mt-2">Produtos: </h5>
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for carrinhoproduto in carrinhoprodutos %}
                    <li class="list-group-item">
                        <strong>Cliente:</strong>
                        {% if carrinhoproduto.carrinho.cliente %}
                            {{ carrinhoproduto.carrinho.cliente.nome_completo }}
                        {% else %}
                            Mary Jackson
                        {% endif %}
                      
                        <strong>{{ carrinhoproduto.produto.nome_produto }}</strong>
                        <span class="float-right">Quantidade: {{ carrinhoproduto.quantidade }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p class="card-text text-center mt-3 text-light bg-secondary">Total: R$ {{ carrinho.total }}</p>
            <p class="card-text text-center mb-6 text-bg-success">Pedido finalizado com sucesso!</p>
        </div>
    </div>
</div>

{% endblock %}
