{% extends 'base.html' %}
{% block title %}Finalizar Pedido{% endblock %}
{% block content %}
<div class="container mt-4 mb-5">
    <h3 class="text-muted text-center" style="font-size: 1.5rem;">
        <i class="fas fa-shopping-bag text-success" style="font-size: 1.5rem;"></i> 
        Finalizar Pedido:
    </h3>
    <p class="mb-2 mt-4">
        <strong class="text-muted h5">Cliente:</strong>
        {% if carrinhoproduto.carrinho.cliente %}
            <span class="text-success h5">{{ carrinhoproduto.carrinho.cliente.nome_completo }}</span>
        {% else %}
            <span class="text-success h5">Mary Jackson</span>
        {% endif %}
    </p>
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for carrinhoproduto in carrinhoprodutos %}
                <li class="list-group-item">
                    <div class="row g-3 mb-3">
                        <div class="col-4 col-md-3 col-lg-2">
                            
                            {% if carrinhoproduto.produto.imagem %}
                                <img src="{{ carrinhoproduto.produto.imagem.url }}" class="img-thumbnail border-0" alt="{{ carrinhoproduto.produto.nome_produto }}">
                            {% endif %}
                        </div>
                        <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-end">
                            <p><strong>Produto:</strong> {{ carrinhoproduto.produto.nome_produto }}</p>
                            <p><strong>Quantidade:</strong> {{ carrinhoproduto.quantidade }}</p>
                            <p><strong>Preço:</strong> R$ {{ carrinhoproduto.produto.preco }}</p>
                        </div>
                        <div class="col-md-2 align-self-end text-endd">
                            <form action="{% url 'deletar_item_carrinho' carrinhoproduto.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remover</button>
                            </form>
                        </div>
                    </div>
                    
                </li>
                
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="mt-3 mb-3 text-center">
        <h4>Total: R$ {{ total }}</h4>
        <form action="{% url 'finalizado' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success mt-3">Confirmar Compra</button>
        </form>
    </div>
</div>
{% endblock %}
