{% extends 'base.html' %}
{% block title %}Resultados da Busca{% endblock %}
{% block content %}

<style>

/* Define a cor do texto do link como preto */
/* Estilo para os links */
.produto-link,
a {
  color: black;
  text-decoration: none; /* Remove o sublinhado */
  cursor: pointer; /* Altera o cursor ao passar por cima do link */
}

/* Adiciona sublinhado ao passar por cima do link */
/* Estilo para os links quando passar o mouse */
.produto-link:hover,
a:hover {
  text-decoration: underline;
}
</style>

<div class="container">
    <h3 style="margin-bottom: 30px">Produtos</h3>

    {% if produtos %}
    <div class="row justify-content-center">
        {% for produto in produtos %}
        <div class="col-md-4 mb-4 mt-2 section">
            <div class="card-body text-center border-bottom-0">
                <img
                    src="{{ produto.imagem.url }}"
                    class="card-img-top mx-auto d-block mb-3"
                    alt="{{ produto.nome_produto }}"
                    style="max-width: 200px; margin-bottom: -15px"
                />
                <p class="card-title text-center mb-4 mt-2" style="font-size: 16px">
                    <a href="{% url 'produto_detalhe' produto.id %}">{{ produto.nome_produto }}</a>
                </p>
                <p class="card-text d-none">{{ produto.descricao }}</p>
                <p class="card-text"><strong class="font-size-lg" style="font-size: 20px">R$ {{ produto.preco }}</strong></p>
                    <a href="{% url 'produto_detalhe' produto.id %}" class="btn btn-success">Comprar</a>

            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Nenhum produto encontrado.</p>
    {% endif %}
</div>

{% endblock %}
