{% extends 'base.html' %}
{% block title %}Resultados da Busca{% endblock %}
{% block content %}

<div class="container ">
    <h3 class="text-muted text-center mb-4 mt-4">Nossos Produtos</h3>

    {% if produtos %}
    <div class="row justify-content-center">
        {% for produto in produtos %}
        <div class="col-md-3 mb-5 mt-2">
            <div class="card bg-transparent border-0">
                <div class="card-body text-center">
                    <h4 class="card-title text-muted">{{ produto.nome_produto }}</h4>
                    <img src="{{ produto.imagem.url }}" class="card-img-top mx-auto d-block mb-3 rounded" alt="{{ produto.nome_produto }}" style="max-width: 170px; margin-bottom: -15px; border-radius: 8px;">
                    <p class="card-text"><strong class="font-size-lg">Preço: R$ {{ produto.preco }}</strong></p>
                </div>                            
                <div class="card-footer text-center d-flex justify-content-center bg-transparent border-0 ">
                    <div class="me-4">
                        <a href="{% url 'produto_detalhe' produto.id %}" class="btn btn-outline-success btn-sm text-decoration-underline">Detalhes</a>
                    </div>
                    <div>
                        <form action="{% url 'adicionar_produto_carrinho' produto.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Comprar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="no-product text-center">Nenhum produto encontrado.</p>
    {% endif %}
</div>

{% endblock %}
