{% extends 'base.html' %}
{% block title %}Resultados da Busca{% endblock %}
{% block content %}

<div class="container">
    <h1>produtos</h1>
    <div class="row justify-content-center">
        {% if produtos %}
            {% for produto in produtos %}
                <div class="col-md-4 mb-4 mt-2">
                    <div class="card">
                        <h5 class="card-title text-center mb-4 mt-2" style="font-size: 24px;">{{ produto.nome_produto }}</h5>
                    </div>
                    <div class="card-body text-center border-bottom-0">
                        <img src="{{ produto.imagem.url }}" class="card-img-top mx-auto d-block mb-3" alt="{{ produto.nome_produto }}" style="max-width: 200px; margin-bottom: -15px;">
                        <p class="card-text d-none">{{ produto.descricao }}</p>
                        <p class="card-text"><strong class="font-size-lg" style="font-size: 20px;">Preço: R$ {{ produto.preco }}</strong></p>
                    </div>  
                    <div class="card-footer text-center">
                        <a href="{% url 'produto_detalhe' produto.id %}" class="btn btn-success btn-lg">Detalhes</a>
                    </div>   
                       
                </div>
            {% endfor %}
        {% else %}
            <p>Nenhum produto encontrado.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
