{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sobre
{% endblock %}

{% block content %}

    <div class="row justify-content-center border border-top border-bottom";">
        <div class="col-md-8 mt-4 mb-4 ">
            <div class="card">
                <div class="card-body mb-4">
                    <div class="d-flex justify-content-center align-items-center mb-5">
                        <h1 class="card-title text-muted" style="font-family: 'Lobster'; margin-right: 10px;">Nossa Missão</h1>
                        <img src="{% static 'images/icones/missao.png' %}" alt="Imagem da Missão" class="mb-3" style="max-width: 60px;">
                    </div>
                    <p class="lead text-center mb-5 text-muted">Nossa missão é fornecer produtos saudáveis e sustentáveis para nossos clientes, promovendo um estilo de vida mais consciente e ético. Acreditamos que a alimentação pode ser uma forma de cuidar não apenas da nossa saúde, mas também do meio ambiente e dos animais.</p>
                    
                    <h1 class="card-title text-center mb-5 text-muted" style="font-family: 'Lobster';">Nossos Produtos</h1>
                    <p class="lead text-center mb-5 text-muted">Em nossa loja, você encontrará uma ampla variedade de produtos orgânicos e veganos, cuidadosamente selecionados para garantir a máxima qualidade e frescor. Desde frutas e verduras cultivadas sem agrotóxicos até alimentos processados e produtos de higiene pessoal livres de ingredientes de origem animal.</p>
                    
                    <h1 class="card-title text-center mb-5 text-muted" style="font-family: 'Lobster';">Nossa Filosofia</h1>
                    <p class="lead text-center mb-5">Nosso compromisso vai além de oferecer produtos. Queremos educar e inspirar nossos clientes a fazerem escolhas mais conscientes, contribuindo para um mundo mais sustentável e compassivo. Valorizamos a transparência, a ética e o respeito por todas as formas de vida.</p>
                    
                    <h1 class="card-title text-center mb-5 text-muted" style="font-family: 'Lobster';">Explore Nosso Espaço</h1>
                    <p class="lead text-center mb-5">Embarque em uma jornada conosco e descubra nosso espaço no coração da cidade. Aqui, não só oferecemos os melhores produtos, mas também compartilhamos o processo de criação de cada item, infundido com todo o nosso amor e cuidado. Venha nos visitar e mergulhe em um mundo de possibilidades para uma vida mais saudável e feliz!</p>
                    
                    <div class="d-flex justify-content-center align-items-center mb-5">
                        <h1 class="card-title text-muted" style="font-family: 'Lobster'; margin-right: 10px;">Fundadoras</h1>
                        <img src="{% static 'images/icones/valor.png' %}" alt="Imagem da Missão" class="mb-3" style="max-width: 70px;">
                    </div>
                    <p class="lead text-center mb-5">Para nosso grupo, não se trata apenas de alcançar o sucesso. Aqui, nos dedicamos à criação de produtos veganos e orgânicos com amor. Acreditamos que cada produto que desenvolvemos reflete nosso compromisso com a qualidade, o respeito ao meio ambiente e o bem-estar dos nossos clientes. Levantar cedo pela manhã deve ser recompensador! Valorizamos o trabalho árduo, mas também celebramos nossas conquistas. <br>
                    
                    Nosso objetivo é criar um ambiente de trabalho mais humano, onde todos se sintam valorizados, respeitados e livres para serem autênticos. Além de buscarmos o crescimento profissional, valorizamos o desenvolvimento pessoal e colaborativo. Juntos, avançamos em direção a um futuro melhor, onde a equidade, a compaixão e a liberdade são prioridades.</p>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-0Il68U4k7gEw9srIkuRg8Ws2Y0e4ph8v+Nk9+1aXlOUq8g7yAztefyR7xOuqOOtV" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-+o8lUDEjwJpZyE2+W4tFqJQbeqalCV7kCOy5y7vOa+Pk5RfHQq1By0+8l7W/nhXo" crossorigin="anonymous"></script>
